/* colors */
$white: #fff;
$black: #000;
$footer-black: #101010;
$primary: #ED4C5C;
$gray: #FAFAFA;

/* breakpoints */
$hide-nav: 1110px;
$high: 900px;
$hamburger: 800px;
$mid: 650px;
$phone: 490px;

