/* colors */
$white: #fff;
$gray: #868c99;
$primary: #0e1a35;
$secondary: #8492af;


/* It happens to be a bit messy, so I left my commentaries to help you in case you'd like to change something > _ < */

/* allyouneed, benefits, template */
$pseudo-hide: 1310px;

/* intro */
$tablet: 991px;

/* benefits, drag-drop, nav, pricing */
$xl: 910px;

/* btn, footer*/
$lg: 770px;

/* allyouneed, benefits, intro, template*/
$md: 704px;

/* allyouneed, btn, header, intro, nav*/
$sm: 485px;

/* allyouneed, benefits, drag-drop, footer, intro, pricing, template*/
$phone: 395px;