.header {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 11rem;
  z-index: 1000;

  @include breakpoint($sm) {
    height: 7rem;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__left {
  img{
    @include breakpoint($sm) {
      max-width: 67%;
    }
  }
}

.fixed {
  position: fixed;
  height: 5.5rem;
  background: linear-gradient(180deg, $primary 100%, #FFFFFF 45%, #FFFFFF 100%);
}